<div class="sidebar">
  <div class="sidebar-header">
    <div class="image-text">
      <span class="image">
        <img src="assets/images/temp.png" alt="Minha imagem">
      </span>
    </div>

    <div style="display: none;" class="toggle"><i class='bx bx-chevron-right'></i></div>
  </div>

  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-links">
        <li class="nav-link">
          <a href="#">
            <i class='bx bx-home-alt icon' ></i>
            <span class="text nav-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class='bx bx-joystick-alt icon'></i>
            <span class="text nav-text">Services</span>
          </a>
        </li>

      </ul>
    </div>
  </div>
</div>
